@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

:root {
    font-size: 62.5%;

    /* HUE das cores */
    --cor-primaria: 227; /* #F3F5FC */
    --cor-secundaria: 213; /* #0A3871 */

    --fonte: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(var(--cor-primaria), 60%, 97%);
}

main {
    margin: auto;
    display: flex;
    height: 100vh;
    max-width: 1440px;
    padding: 40px;
    gap: 80px;
}

#logo {
    height: 48px;
    width: 120px;
    cursor: pointer;
}

menu {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 176px;
    width: 120px;
    background-color: hsl(var(--cor-primaria), 60%, 97%);
    border-radius: 800px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    opacity: 0;
    transition: all .3s;
    z-index: 100;
}

menu::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 90%;
    background-color: white;
    border-radius: 800px;
    z-index: -1;
}

menu > button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#section_texto {
    display: flex;
    flex-direction: column;
    width: 680px;
}

textarea {
    outline: none;
    background: none;
    border: none;
    resize: none;
    width: 100%;
    font-family: var(--fonte);
}

#texto {
    font-size: 3.2rem;
    font-weight: 400;
    height: 100%;
    margin-top: 128px;
    color: hsl(var(--cor-secundaria), 84%, 24%);
}

#texto::placeholder {
    color: hsl(var(--cor-secundaria), 84%, 24%);
}

#section_texto > p {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.2rem;
    font-family: var(--fonte);
    font-weight: 400;
}

#botoes {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 32px 0;
}

#botoes button {
    height: 67px;
    width: 48%;
    background-color: hsl(var(--cor-secundaria), 84%, 24%);
    border-radius: 24px;
    border: 1px solid hsl(var(--cor-secundaria), 84%, 24%);
    font-family: var(--fonte);
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

#botoes button:hover {
    background-color: hsl(var(--cor-secundaria), 84%, 17%);
}

#botoes button:nth-child(2) {
    background-color: transparent;
    color: hsl(var(--cor-secundaria), 84%, 24%);
}

#botoes button:nth-child(2):hover {
    background-color: hsl(var(--cor-primaria), 14%, 83%);
}

#section_resposta {
    display: flex;
    align-items: center;
    width: 400px;
    background-color: white;
    padding: 32px;
    border-radius: 32px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

#container_resposta {
    display: none;
    gap: 32px;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#resposta {
    height: calc(100% - 67px - 32px);
    font-weight: 400;
    font-size: 2.4rem;
    color: #495057;
}

#copiar {
    height: 67px;
    font-family: var(--fonte);
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid hsl(var(--cor-secundaria), 84%, 24%);
    background-color: transparent;
    border-radius: 24px;
    color: hsl(var(--cor-secundaria), 84%, 24%);
    cursor: pointer;
    transition: all .2s;
}

#copiar:hover {
    background-color: hsl(var(--cor-primaria), 14%, 83%);
}

#copiar.copiado {
    background-color: hsl(var(--cor-secundaria), 84%, 24%);
    color: white;
}

#section_resposta img {
    width: 100%;
}

#section_resposta h3 {
    font-size: 2.4rem;
    font-family: var(--fonte);
    font-weight: 700;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

#section_resposta p {
    font-size: 1.6rem;
    font-family: var(--fonte);
    font-weight: 400;
    text-align: center;
}

footer {
    font-family: var(--fonte);
    font-size: 1.8rem;
    font-weight: 400;
    background-color: hsl(var(--cor-secundaria), 84%, 24%);
    color: white;
    padding: 20px;
}

footer ul {
    columns: 2;
    list-style: none;
    width: 250px;
    margin-top: 20px;
}

footer li {
    margin-bottom: 10px;
}

a {
    color: white;
}

footer ion-icon {
    font-size: 40px;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: hsl(var(--cor-primaria), 14%, 83%);
    border: 4px solid hsl(var(--cor-primaria), 60%, 97%);
    border-radius: 20px;
    cursor: default;
}

::-webkit-scrollbar-track {
    background-color: hsl(var(--cor-primaria), 60%, 97%);
    cursor: default;
}

#section_resposta textarea::-webkit-scrollbar-thumb {
    border: 4px solid white;
}

#section_resposta textarea::-webkit-scrollbar-track {
    background-color: white;
}

@media screen and (max-width: 850px) {
    main {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    #logo {
        align-self: flex-start;
    }
    
    menu {
        align-self: flex-start;
    }

    #section_texto {
        height: 680px;
        max-width: 680px;
        width: 100%;
    }
    
    #texto {
        margin-top: 100px;
    }

    #section_resposta {
        justify-content: center;
        width: 100%;
    }

    #container_resposta {
        height: 400px;
    }
    
    #nenhum_texto img {
        display: none;
    }

    #section_resposta h3 {
        margin-top: 0;
    }
}